<div class="row">
    <div class="col-xs-12">
        <form class="form-inline">
            <div class="form-group">
                <input class="form-control" [(ngModel)]="searchTerm" [ngModelOptions]="{standalone: true}" placeholder="Search">
            </div>
            <button class="btn btn-default" (click)="clearSearchTerm()">Clear</button>
        </form>
    </div>
</div>
<div class="row city-list">
    <div class="col-xs-12">
        <div class="row well" *ngFor="let task of (tasks | taskFilter: searchTerm)">
            <a>
                <div class="col-xs-6">
                    {{task.name}}
                </div>
                <div class="col-xs-6">
                    {{task.status | enum }}
                </div>
            </a>
        </div>
    </div>
</div>
 <!-- SOME FANCIES!! -->
    <div class="row">
        <div class="col-xs-6">
            <h2 class="text-center">Top words</h2>
            <bar-graph [labels]="ids" [data]="idCounts"></bar-graph>
        </div>
      
    </div>
