<div class="">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img alt="Thumbnail" [src]="org.thumbnail">
        </div>
        <div class="card-info"> <span class="card-title">{{ org.name }}</span>
        </div>
    </div>
    <div class="org-info">
        <div class="row wiggling">
            <!-- INFO -->
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">      
               <h3>Info</h3>
                <div class="form-group row wiggling">
                    <label class="col-lg-3 control-label">Description:</label>
                    <div class="col-lg-8">
                        {{org.description}}
                    </div>                    
                </div>
                  <div class="form-group row wiggling">
                    <label class="col-lg-3 control-label">Joined:</label>
                    <div class="col-lg-8">
                        {{org.created | date }}
                    </div>
                </div>                
            </div>
    <!-- END OF INFO -->
        </div> 
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <div class="hidden-xs">Users</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <div class="hidden-xs">Engagements</div>
            </button>
        </div>
    </div>

        <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1">
          <h3>This is tab 1</h3>
        </div>
        <div class="tab-pane fade in" id="tab2">
          <h3>This is tab 2</h3>
        </div>

      </div>
    </div>
    
    </div>

    <tabset>
        <tab title="About me">
            <button *tabHeading class="btn btn-primary">Y</button>
        </tab>
        <tab title="Contacts">
            This is content of the contacts tab
        </tab>
        <tab title="Map" [disabled]="true">
            Content of the Map Tab
        </tab>
    </tabset>