<div class="">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="http://lorempixel.com/100/100/people/9/">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img alt="Thumbnail" [src]="org.thumbnail">
        </div>
        <div class="card-info"> <span class="card-title">{{ org.name }}</span>
        </div>
    </div>
    <div class="org-info">
        <div class="row wiggling">
            <!-- INFO -->
            <div class="col-md-8 col-sm-6 col-xs-12 personal-info">      
               <h3>Info</h3>
                <div class="form-group row wiggling">
                    <label class="col-lg-3 control-label">Description:</label>
                    <div class="col-lg-8">
                        {{org.description}}
                    </div>                    
                </div>
                  <div class="form-group row wiggling">
                    <label class="col-lg-3 control-label">Joined:</label>
                    <div class="col-lg-8">
                        {{org.created | date }}
                    </div>
                </div>                
            </div>
    <!-- END OF INFO -->
        </div> 
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
           <div class="well tab-content">
                <tabset>
                    <tab title="About me">
                          <div class="tab-pane fade in active" id="tab1">
                            <h3>This is tab 1</h3>
                         </div>
                    </tab>
                    <tab title="Contacts">
                         <div class="tab-pane fade in" id="tab2">
                            <h3>This is tab 2</h3>
                        </div>
                    </tab>               
                </tabset>
           </div>

    </div>

   
    </div>
