<div class="container">
      <div class="row">
      <div class="col-md-5 toppad pull-right col-md-offset-3 ">
           <A href="edit.html" >Edit Profile</A>

        <A href="edit.html" >Logout</A>
       <br>
<p class=" text-info">May 05,2014,03:00 pm </p>
      </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0  toppad" >      
          <div class="panel panel-info">
            <div class="panel-heading">
              <h3 class="panel-title">{{user.firstName + " " + user.lastName}} ({{ user.sso }})</h3>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-md-3 col-lg-3 " align="center"> 
                    <img alt="User Pic" [src]="user.thumbnailUrl" class="img-circle img-responsive">
                    <div>
                    <p class="tinytext">Joined : {{ user.created | date }}</p>
                    <p class="tinytext">Last seen : {{ user.lastLoggedOn | date }}</p>
                    </div>
                 </div>                
                <div class=" col-md-9 col-lg-9 "> 
                    <div class="jumbotron">
                        {{ user.description }}
                    </div>
                  <table class="table table-user-information">
                    <tbody>                        
                     <tr>
                        <td>Role</td>
                        <td>{{ user.role  }}</td>
                      </tr>
                     <tr>
                    <tr>
                        <td>Email</td>
                        <td>{{ user.email  }}</td>
                      </tr>
                     <tr>
                        <td>Phone</td>
                        <td>{{ user.phone  }}</td>
                      </tr>                      
                      <tr>
                        <td>Gender</td>
                        <td>{{ user.gender | genum }}</td>
                      </tr>
                      <tr>
                        <td>Hire date:</td>
                        <td>{{ user.hireDate | date }}</td>
                      </tr>
                      <tr>
                        <td>Department:</td>
                        <td>{{user.department}}</td>
                      </tr>                                         
                        <tr *ngIf="user.isPublic">
                        <td>Home Address</td>
                        <td> 
                            <p>{{ user.location?.address }}</p>
                            <p>{{ user.location?.city }}</p>
                            <p>{{ user.location?.country }}</p>
                        </td>
                      </tr>                    
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
                 <div class="panel-footer">
                        <a data-original-title="Broadcast Message" data-toggle="tooltip" type="button" class="btn btn-sm btn-primary"><i class="glyphicon glyphicon-envelope"></i></a>
                        <span class="pull-right">
                            <!-- ONLY IF ITS MY ACCOUNT -->
                            <a href="edit.html" data-original-title="Edit this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-warning"><i class="glyphicon glyphicon-edit"></i></a>
                            <a data-original-title="Remove this user" data-toggle="tooltip" type="button" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a>
                        </span>
                    </div>
            
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0  toppad" >      
         <div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                <h3 class="panel-title">Latest engagements</h3>
                </div>
                <div class="panel-body">
                <div class="row">
                </div>
                </div>           
            </div>
          </div> <!-- EOR -->
<div class="row">
            <div class="panel panel-info">
                <div class="panel-heading">
                <h3 class="panel-title">Latest engagements</h3>
                </div>
                <div class="panel-body">
                <div class="row">
                </div>
                </div>           
            </div>
          </div> <!-- EOR -->
        </div>
      </div>
    </div>